<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax PHP Driver for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>DataStax PHP Driver - Batch statements</title>

    <link rel="icon" href="../../favicon.ico">
    <link rel="apple-touch-icon" href="../../favicon.png">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/pygments.css" rel="stylesheet">
    <link href="../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target=".side-nav">
    <header class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../">DataStax PHP Driver</a>
        </div>
        <div class="collapse navbar-collapse" ng-controller="search">
          <ul class="nav navbar-nav">
            
            
            
            <li class="active">
              <a href="../">Features</a>
            </li>
            
            
            <li>
              <a href="../../api/">API docs</a>
            </li>
            
          </ul>
          <form class="navbar-form form-search navbar-right dropdown visible-lg-block" ng-class="{open: hasResults}" role="search" ng-submit="submit()">
            <div class="form-group has-feedback">
              <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('current')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
            </div>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
            </ul>
          </form>
        </div>
      </div>
    </header>

    <div class="container" id="content">
      <div class="row">
        <div class="col-md-9 content">
          <nav class="crumbs">
            <ol class="breadcrumb">
              
              
              
              
              <li><a href="../../">Home</a></li>
              
              
              
              
              
              <li><a href="../">Features</a></li>
              
              
              
              
              
              <li class="active">Batch statements</li>
              
              
              
            </ol>
          </nav>
          
<div class="feature-section">
<div class="pull-right"><span class="label label-primary">since cassadra v2.0</span></div>
<h1 id="batch-statements">Batch statements<a class="anchor" href="#batch-statements" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>
<p>PHP Driver supports batch statements. There are three types of batch statements:</p>

<ul>
<li>
<code>Cassandra::BATCH_LOGGED</code>   - this is the default batch type. This batch
gurantees that either all or none of its statements will be executed.
This behavior is achieved by writing a batch log on the coordinator, which
slows down the execution somewhat.</li>
<li>
<code>Cassandra::BATCH_UNLOGGED</code> - this batch will not be verified when executed,
which makes it faster than a <code>LOGGED</code> batch, but means that some of its statements
might fail, while others - succeed.</li>
<li>
<code>Cassandra::BATCH_COUNTER</code>  - this batch is used for counter updates, which
are, unlike other writes, not idempotent.</li>
</ul>
<h2 id="background">Background<a class="anchor" href="#background" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>a running Cassandra cluster</dd>
<dt>And </dt>
<dd>the following schema:<pre class="highlight"><code><span class="k">CREATE</span> <span class="k">KEYSPACE</span> <span class="n">simplex</span> <span class="k">WITH</span> <span class="n">replication</span> <span class="o">=</span> <span class="p">{</span>
  <span class="s1">'class'</span><span class="p">:</span> <span class="s1">'SimpleStrategy'</span><span class="p">,</span>
  <span class="s1">'replication_factor'</span><span class="p">:</span> <span class="mi">1</span>
<span class="p">};</span>
<span class="k">USE</span> <span class="n">simplex</span><span class="p">;</span>
<span class="k">CREATE</span> <span class="k">TABLE</span> <span class="n">playlists</span> <span class="p">(</span>
  <span class="n">id</span> <span class="k">uuid</span><span class="p">,</span>
  <span class="n">title</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">album</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">artist</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">song_id</span> <span class="k">uuid</span><span class="p">,</span>
  <span class="k">PRIMARY</span> <span class="k">KEY</span> <span class="p">(</span><span class="n">id</span><span class="p">,</span> <span class="n">title</span><span class="p">,</span> <span class="n">album</span><span class="p">,</span> <span class="n">artist</span><span class="p">)</span>
<span class="p">);</span>
</code></pre>
</dd>
</dl>
<h2 id="batch-statements-can-contain-simple-and-prepared-statements">Batch statements can contain simple and prepared statements<a class="anchor" href="#batch-statements-can-contain-simple-and-prepared-statements" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>the following example:<pre class="highlight"><code><span class="cp">&lt;?php</span>
<span class="nv">$cluster</span>   <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withContactPoints</span><span class="p">(</span><span class="s1">'127.0.0.1'</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span>   <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">);</span>
<span class="nv">$prepared</span>  <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">prepare</span><span class="p">(</span>
               <span class="s2">"INSERT INTO playlists (id, song_id, artist, title, album) "</span> <span class="o">.</span>
               <span class="s2">"VALUES (62c36092-82a1-3a00-93d1-46196ee77204, ?, ?, ?, ?)"</span>
             <span class="p">);</span>
<span class="nv">$simple</span>    <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span>
               <span class="s2">"INSERT INTO playlists (id, song_id, artist, title, album) "</span> <span class="o">.</span>
               <span class="s2">"VALUES (62c36092-82a1-3a00-93d1-46196ee77204, ?, ?, ?, ?)"</span>
             <span class="p">);</span>
<span class="nv">$batch</span>     <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\BatchStatement</span><span class="p">(</span><span class="nx">Cassandra</span><span class="o">::</span><span class="na">BATCH_LOGGED</span><span class="p">);</span>

<span class="nv">$batch</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="nv">$prepared</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">'song_id'</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">Cassandra\Uuid</span><span class="p">(</span><span class="s1">'756716f7-2e54-4715-9f00-91dcbea6cf50'</span><span class="p">),</span>
    <span class="s1">'title'</span>   <span class="o">=&gt;</span> <span class="s1">'La Petite Tonkinoise'</span><span class="p">,</span>
    <span class="s1">'album'</span>   <span class="o">=&gt;</span> <span class="s1">'Bye Bye Blackbird'</span><span class="p">,</span>
    <span class="s1">'artist'</span>  <span class="o">=&gt;</span> <span class="s1">'Joséphine Baker'</span>
<span class="p">));</span>

<span class="nv">$batch</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="nv">$simple</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
    <span class="k">new</span> <span class="nx">Cassandra\Uuid</span><span class="p">(</span><span class="s1">'f6071e72-48ec-4fcb-bf3e-379c8a696488'</span><span class="p">),</span>
    <span class="s1">'Willi Ostermann'</span><span class="p">,</span> <span class="s1">'Die Mösch'</span><span class="p">,</span> <span class="s1">'In Gold'</span><span class="p">,</span>
<span class="p">));</span>

<span class="nv">$batch</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="nv">$prepared</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
    <span class="k">new</span> <span class="nx">Cassandra\Uuid</span><span class="p">(</span><span class="s1">'fbdf82ed-0063-4796-9c7c-a3d4f47b4b25'</span><span class="p">),</span>
    <span class="s1">'Mick Jager'</span><span class="p">,</span> <span class="s1">'Memo From Turner'</span><span class="p">,</span> <span class="s1">'Performance'</span>
<span class="p">));</span>

<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$batch</span><span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"SELECT * FROM simplex.playlists"</span><span class="p">);</span>
<span class="nv">$result</span>    <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">);</span>

<span class="k">foreach</span> <span class="p">(</span><span class="nv">$result</span> <span class="k">as</span> <span class="nv">$row</span><span class="p">)</span> <span class="p">{</span>
  <span class="k">echo</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'artist'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">": "</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'title'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">" / "</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'album'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="p">}</span>
</code></pre>
</dd>
<dt>When </dt>
<dd>it is executed</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>Joséphine Baker: La Petite Tonkinoise / Bye Bye Blackbird
</code></pre>
</dd>
<dt>And </dt>
<dd>its output should contain:<pre><code>Willi Ostermann: Die Mösch / In Gold
</code></pre>
</dd>
<dt>And </dt>
<dd>its output should contain:<pre><code>Mick Jager: Memo From Turner / Performance
</code></pre>
</dd>
</dl>
</div>

        </div>
        <div class="col-md-3">
          <div id="navigation" class="panel-group side-nav" data-spy="affix" data-offset-top="60" data-offset-bottom="80" role="tablist" aria-multiselectable="true">
            <div id="table-of-contents-panel" class="panel panel-default">
              <div id="table-of-contents-heading" class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#table-of-contents" aria-expanded="true" aria-controls="table-of-contents">
                    Contents<i class="pull-right glyphicon glyphicon-chevron-up"></i>
                  </a>
                </h4>
              </div>
              <div id="table-of-contents" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="table-of-contents-heading">
                <div class="panel-body">
                  <ol class="nav nav-pills nav-stacked toc">
<li><a href="#background">Background
</a></li>
<li><a href="#batch-statements-can-contain-simple-and-prepared-statements">Batch statements can contain simple and prepared statements
</a></li>
</ol>
                </div>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/php-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/php-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/PHP/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/php-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/php-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/angular.js"></script>
    <script src="../../js/mousetrap.js"></script>
    <script src="../../js/hotkeys.js"></script>
    <script src="../../js/ZeroClipboard.js"></script>
    <script src="../../js/lunr.js"></script>
    <script src="../../js/app.js"></script>
  </body>
</html>
