<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax PHP Driver for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>DataStax PHP Driver - Collections</title>

    <link rel="icon" href="../../favicon.ico">
    <link rel="apple-touch-icon" href="../../favicon.png">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/pygments.css" rel="stylesheet">
    <link href="../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target="#table-of-contents" data-offset="69">
    <header class="container-fluid navbar">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand" href="../../"><img alt="Brand" src="../../img/logo.png">DataStax PHP Driver</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" role="nav">
                <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
                <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
                <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form id="search" class="form-search dropdown visible-lg-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('v1.1.0')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
                </div>
                <ul class="dropdown-menu search-results" role="menu">
                  <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
                </ul>
              </form>
            </div>
            <div class="col-md-4">
              <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row crumbs-wrapper">
        <div class="col-md-12">
          <nav id="crumbs" data-spy="affix" data-offset-top="130">
            <ol class="breadcrumb">
              
              <li>
                <div class="btn-group">
                  <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    v1.1.0
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                  
                    <li class="disabled"><a href="./">v1.1.0</a></li>
                  
                    <li><a href="../../v1.0.1/">v1.0.1</a></li>
                  
                    <li><a href="../../v1.0.0/">v1.0.0</a></li>
                  
                    <li><a href="../../v1.0.0-rc/">v1.0.0-rc</a></li>
                  
                  </ul>
                </div>
              </li>
              
              
              
              
              <li><a href="../../">Home</a></li>
              
              
              
              
              
              <li><a href="../">Features</a></li>
              
              
              
              
              
              <li class="active">Collections</li>
              <li class="dropdown" id="table-of-contents">
                <div class="btn-group">
                  <button id="current-section" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Jump to&#8230; <span class="caret"></span><span class="sr-only">Table of Contents</span>
                  </button>
                  <ul class="dropdown-menu nav nav-pills nav-stacked">
                    <li><a href="#collections">Page Top <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></li>
<li><a href="#background">Background
</a></li>
<li><a href="#using-cassandra-collections">Using Cassandra collections
</a></li>
<li><a href="#using-cassandra-nested-collections">Using Cassandra nested collections
</a></li>
                  </ul>
                </div>
              </li>
              
              
              
            </ol>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3>Contents</h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../../api/">API docs <small>index</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="../">Features <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../datatypes/">Datatypes <small>feature</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../consistency_level/">Consistency Level <small>feature</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../client_side_timestamps/">Client-side timestamps <small>feature</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../simple_statements/">Simple Statements <small>feature</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../prepared_statements/">Prepared Statements <small>feature</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../batch_statements/">Batch statements <small>feature</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../logging/">Logging <small>feature</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../result_paging/">Result paging <small>feature</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../schema_metadata/">Schema Metadata <small>feature</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../sessions/">Sessions <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../ssl_encryption/">SSL encryption <small>feature</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../user_defined_types/">User defined types <small>feature</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../tuples/">Tuples <small>feature</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="./" class="current">Collections <small>feature</small></a>
    
  </li>
  
  
  
  
  <li>
    <a href="../retry_polices/">Consistency Level <small>feature</small></a>
  </li>
  
  
</ul>

  </li>
  
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          
<div class="feature-section">
<h1 id="collections" class="target">Collections<a class="anchor" href="#collections" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>
<p>PHP Driver supports all Cassandra collections</p>
<h2 id="background" class="target">Background<a class="anchor" href="#background" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>a running Cassandra cluster</dd>
</dl>
<h2 id="using-cassandra-collections" class="target">Using Cassandra collections<a class="anchor" href="#using-cassandra-collections" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>the following schema:<pre class="highlight"><code><span class="k">CREATE</span> <span class="k">KEYSPACE</span> <span class="n">simplex</span> <span class="k">WITH</span> <span class="n">replication</span> <span class="o">=</span> <span class="p">{</span>
  <span class="s1">'class'</span><span class="p">:</span> <span class="s1">'SimpleStrategy'</span><span class="p">,</span>
  <span class="s1">'replication_factor'</span><span class="p">:</span> <span class="mi">1</span>
<span class="p">};</span>
<span class="k">USE</span> <span class="n">simplex</span><span class="p">;</span>
<span class="k">CREATE</span> <span class="k">TABLE</span> <span class="k">user</span> <span class="p">(</span>
  <span class="n">id</span> <span class="k">int</span> <span class="k">PRIMARY</span> <span class="k">KEY</span><span class="p">,</span>
  <span class="n">logins</span> <span class="k">list</span><span class="o">&lt;</span><span class="k">timestamp</span><span class="o">&gt;</span><span class="p">,</span>
  <span class="n">locations</span> <span class="k">map</span><span class="o">&lt;</span><span class="k">timestamp</span><span class="p">,</span> <span class="k">double</span><span class="o">&gt;</span><span class="p">,</span>
  <span class="n">ip_addresses</span> <span class="k">set</span><span class="o">&lt;</span><span class="k">inet</span><span class="o">&gt;</span>
<span class="p">);</span>
<span class="k">INSERT</span> <span class="k">INTO</span> <span class="k">user</span> <span class="p">(</span><span class="n">id</span><span class="p">,</span> <span class="n">logins</span><span class="p">,</span> <span class="n">locations</span><span class="p">,</span> <span class="n">ip_addresses</span><span class="p">)</span>
<span class="k">VALUES</span> <span class="p">(</span>
  <span class="mi">0</span><span class="p">,</span>
  <span class="p">[</span><span class="s1">'2014-09-11 10:09:08+0000'</span><span class="p">,</span> <span class="s1">'2014-09-12 10:09:00+0000'</span><span class="p">],</span>
  <span class="p">{</span><span class="s1">'2014-09-11 10:09:08+0000'</span><span class="p">:</span> <span class="mi">37</span><span class="p">.</span><span class="mi">397357</span><span class="p">},</span>
  <span class="p">{</span><span class="s1">'200.199.198.197'</span><span class="p">,</span> <span class="s1">'192.168.1.15'</span><span class="p">}</span>
<span class="p">)</span>
</code></pre>
</dd>
<dt>And </dt>
<dd>the following example:<pre class="highlight"><code><span class="cp">&lt;?php</span>
<span class="nv">$cluster</span>   <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withContactPoints</span><span class="p">(</span><span class="s1">'127.0.0.1'</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span>   <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">);</span>
<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"SELECT * FROM user"</span><span class="p">);</span>
<span class="nv">$result</span>    <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">);</span>
<span class="nv">$row</span>       <span class="o">=</span> <span class="nv">$result</span><span class="o">-&gt;</span><span class="na">first</span><span class="p">();</span>

<span class="k">echo</span> <span class="s2">"Logins: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'logins'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Locations: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'locations'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Ip Addresses: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'ip_addresses'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
</code></pre>
</dd>
<dt>When </dt>
<dd>it is executed</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>Logins: Cassandra\Collection::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Collection::__set_state(array(
     'valueType' =&gt;
    Cassandra\Type\Scalar::__set_state(array(
       'name' =&gt; 'timestamp',
    )),
  )),
   'values' =&gt;
  array (
    0 =&gt;
    Cassandra\Timestamp::__set_state(array(
       'type' =&gt;
      Cassandra\Type\Scalar::__set_state(array(
         'name' =&gt; 'timestamp',
      )),
       'seconds' =&gt; 1410430148,
       'microseconds' =&gt; 0,
    )),
    1 =&gt;
    Cassandra\Timestamp::__set_state(array(
       'type' =&gt;
      Cassandra\Type\Scalar::__set_state(array(
         'name' =&gt; 'timestamp',
      )),
       'seconds' =&gt; 1410516540,
       'microseconds' =&gt; 0,
    )),
  ),
))
Locations: Cassandra\Map::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Map::__set_state(array(
     'keyType' =&gt;
    Cassandra\Type\Scalar::__set_state(array(
       'name' =&gt; 'timestamp',
    )),
     'valueType' =&gt;
    Cassandra\Type\Scalar::__set_state(array(
       'name' =&gt; 'double',
    )),
  )),
   'keys' =&gt;
  array (
    0 =&gt;
    Cassandra\Timestamp::__set_state(array(
       'type' =&gt;
      Cassandra\Type\Scalar::__set_state(array(
         'name' =&gt; 'timestamp',
      )),
       'seconds' =&gt; 1410430148,
       'microseconds' =&gt; 0,
    )),
  ),
   'values' =&gt;
  array (
    0 =&gt; 37.397357,
  ),
))
Ip Addresses: Cassandra\Set::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Set::__set_state(array(
     'valueType' =&gt;
    Cassandra\Type\Scalar::__set_state(array(
       'name' =&gt; 'inet',
    )),
  )),
   'values' =&gt;
  array (
    0 =&gt;
    Cassandra\Inet::__set_state(array(
       'type' =&gt;
      Cassandra\Type\Scalar::__set_state(array(
         'name' =&gt; 'inet',
      )),
       'address' =&gt; '192.168.1.15',
    )),
    1 =&gt;
    Cassandra\Inet::__set_state(array(
       'type' =&gt;
      Cassandra\Type\Scalar::__set_state(array(
         'name' =&gt; 'inet',
      )),
       'address' =&gt; '200.199.198.197',
    )),
  ),
))
</code></pre>
</dd>
</dl>
<h2 id="using-cassandra-nested-collections" class="target">Using Cassandra nested collections<a class="anchor" href="#using-cassandra-nested-collections" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>the following schema:<pre class="highlight"><code><span class="k">CREATE</span> <span class="k">KEYSPACE</span> <span class="n">simplex</span> <span class="k">WITH</span> <span class="n">replication</span> <span class="o">=</span> <span class="p">{</span>
  <span class="s1">'class'</span><span class="p">:</span> <span class="s1">'SimpleStrategy'</span><span class="p">,</span>
  <span class="s1">'replication_factor'</span><span class="p">:</span> <span class="mi">1</span>
<span class="p">};</span>
<span class="k">USE</span> <span class="n">simplex</span><span class="p">;</span>
<span class="k">CREATE</span> <span class="k">TABLE</span> <span class="k">users</span> <span class="p">(</span>
  <span class="n">id</span> <span class="k">uuid</span> <span class="k">PRIMARY</span> <span class="k">KEY</span><span class="p">,</span>
  <span class="n">name</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">addresses</span> <span class="k">map</span><span class="o">&lt;</span><span class="k">text</span><span class="p">,</span> <span class="n">frozen</span><span class="o">&lt;</span><span class="k">map</span><span class="o">&lt;</span><span class="k">text</span><span class="p">,</span> <span class="k">text</span><span class="o">&gt;&gt;&gt;</span>
<span class="p">);</span>
</code></pre>
</dd>
<dt>And </dt>
<dd>the following example:<pre class="highlight"><code><span class="cp">&lt;?php</span>
<span class="nv">$cluster</span>   <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withContactPoints</span><span class="p">(</span><span class="s1">'127.0.0.1'</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span>   <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">);</span>
<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span>
                <span class="s2">"INSERT INTO users (id, name, addresses) VALUES (?, ?, ?)"</span><span class="p">);</span>

<span class="nv">$addressType</span> <span class="o">=</span> <span class="nx">Cassandra\Type</span><span class="o">::</span><span class="na">map</span><span class="p">(</span><span class="nx">Cassandra\Type</span><span class="o">::</span><span class="na">text</span><span class="p">(),</span> <span class="nx">Cassandra\Type</span><span class="o">::</span><span class="na">text</span><span class="p">());</span>
<span class="nv">$addressesType</span> <span class="o">=</span> <span class="nx">Cassandra\Type</span><span class="o">::</span><span class="na">map</span><span class="p">(</span><span class="nx">Cassandra\Type</span><span class="o">::</span><span class="na">text</span><span class="p">(),</span> <span class="nv">$addressType</span><span class="p">);</span>

<span class="nv">$users</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="k">new</span> <span class="nx">Cassandra\Uuid</span><span class="p">(</span><span class="s1">'56357d2b-4586-433c-ad24-afa9918bc415'</span><span class="p">),</span>
        <span class="s1">'Charles Wallace'</span><span class="p">,</span>
        <span class="nv">$addressesType</span><span class="o">-&gt;</span><span class="na">create</span><span class="p">(</span>
            <span class="s1">'home'</span><span class="p">,</span> <span class="nv">$addressType</span><span class="o">-&gt;</span><span class="na">create</span><span class="p">(</span>
                <span class="s1">'city'</span><span class="p">,</span> <span class="s1">'Phoenix'</span><span class="p">,</span>
                <span class="s1">'street'</span><span class="p">,</span> <span class="s1">'9042 Cassandra Lane'</span><span class="p">,</span>
                <span class="s1">'zip'</span><span class="p">,</span> <span class="s1">'85023'</span><span class="p">))</span>
    <span class="p">),</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="k">new</span> <span class="nx">Cassandra\Uuid</span><span class="p">(</span><span class="s1">'ce359590-8528-4682-a9f3-add53fc9aa09'</span><span class="p">),</span>
        <span class="s1">'Kevin Malone'</span><span class="p">,</span>
        <span class="nv">$addressesType</span><span class="o">-&gt;</span><span class="na">create</span><span class="p">(</span>
            <span class="s1">'home'</span><span class="p">,</span> <span class="nv">$addressType</span><span class="o">-&gt;</span><span class="na">create</span><span class="p">(</span>
                <span class="s1">'city'</span><span class="p">,</span> <span class="s1">'New York'</span><span class="p">,</span>
                <span class="s1">'street'</span><span class="p">,</span> <span class="s1">'1000 Database Road'</span><span class="p">,</span>
                <span class="s1">'zip'</span><span class="p">,</span> <span class="s1">'10025'</span><span class="p">)</span>
        <span class="p">)</span>
    <span class="p">),</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="k">new</span> <span class="nx">Cassandra\Uuid</span><span class="p">(</span><span class="s1">'7d64dca1-dd4d-4f3c-bec4-6a88fa082a13'</span><span class="p">),</span>
        <span class="s1">'Michael Scott'</span><span class="p">,</span>
        <span class="nv">$addressesType</span><span class="o">-&gt;</span><span class="na">create</span><span class="p">(</span>
            <span class="s1">'work'</span><span class="p">,</span> <span class="nv">$addressType</span><span class="o">-&gt;</span><span class="na">create</span><span class="p">(</span>
                <span class="s1">'city'</span><span class="p">,</span> <span class="s1">'Santa Clara'</span><span class="p">,</span>
                <span class="s1">'street'</span><span class="p">,</span> <span class="s1">'20000 Log Ave'</span><span class="p">,</span>
                <span class="s1">'zip'</span><span class="p">,</span> <span class="s1">'95054'</span><span class="p">))</span>
    <span class="p">)</span>
<span class="p">);</span>

<span class="k">foreach</span> <span class="p">(</span><span class="nv">$users</span> <span class="k">as</span> <span class="nv">$user</span><span class="p">)</span> <span class="p">{</span>
  <span class="nv">$options</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\ExecutionOptions</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">'arguments'</span> <span class="o">=&gt;</span> <span class="nv">$user</span><span class="p">));</span>
  <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">,</span> <span class="nv">$options</span><span class="p">);</span>
<span class="p">}</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"SELECT * FROM users"</span><span class="p">);</span>
<span class="nv">$result</span>    <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">);</span>

<span class="k">foreach</span> <span class="p">(</span><span class="nv">$result</span> <span class="k">as</span> <span class="nv">$row</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">print</span> <span class="s1">'ID: '</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'id'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
    <span class="k">print</span> <span class="s1">'Name: '</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'name'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
    <span class="k">print</span> <span class="s1">'Addresses: '</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'addresses'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span><span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="p">}</span>
</code></pre>
</dd>
<dt>When </dt>
<dd>it is executed</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>ID: 56357d2b-4586-433c-ad24-afa9918bc415
Name: Charles Wallace
Addresses: Cassandra\Map::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Map::__set_state(array(
     'keyType' =&gt;
    Cassandra\Type\Scalar::__set_state(array(
       'name' =&gt; 'varchar',
    )),
     'valueType' =&gt;
    Cassandra\Type\Map::__set_state(array(
       'keyType' =&gt;
      Cassandra\Type\Scalar::__set_state(array(
         'name' =&gt; 'varchar',
      )),
       'valueType' =&gt;
      Cassandra\Type\Scalar::__set_state(array(
         'name' =&gt; 'varchar',
      )),
    )),
  )),
   'keys' =&gt;
  array (
    0 =&gt; 'home',
  ),
   'values' =&gt;
  array (
    0 =&gt;
    Cassandra\Map::__set_state(array(
       'type' =&gt;
      Cassandra\Type\Map::__set_state(array(
         'keyType' =&gt;
        Cassandra\Type\Scalar::__set_state(array(
           'name' =&gt; 'varchar',
        )),
         'valueType' =&gt;
        Cassandra\Type\Scalar::__set_state(array(
           'name' =&gt; 'varchar',
        )),
      )),
       'keys' =&gt;
      array (
        0 =&gt; 'city',
        1 =&gt; 'street',
        2 =&gt; 'zip',
      ),
       'values' =&gt;
      array (
        0 =&gt; '85023',
        1 =&gt; '9042 Cassandra Lane',
        2 =&gt; 'Phoenix',
      ),
    )),
  ),
))
ID: ce359590-8528-4682-a9f3-add53fc9aa09
Name: Kevin Malone
Addresses: Cassandra\Map::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Map::__set_state(array(
     'keyType' =&gt;
    Cassandra\Type\Scalar::__set_state(array(
       'name' =&gt; 'varchar',
    )),
     'valueType' =&gt;
    Cassandra\Type\Map::__set_state(array(
       'keyType' =&gt;
      Cassandra\Type\Scalar::__set_state(array(
         'name' =&gt; 'varchar',
      )),
       'valueType' =&gt;
      Cassandra\Type\Scalar::__set_state(array(
         'name' =&gt; 'varchar',
      )),
    )),
  )),
   'keys' =&gt;
  array (
    0 =&gt; 'home',
  ),
   'values' =&gt;
  array (
    0 =&gt;
    Cassandra\Map::__set_state(array(
       'type' =&gt;
      Cassandra\Type\Map::__set_state(array(
         'keyType' =&gt;
        Cassandra\Type\Scalar::__set_state(array(
           'name' =&gt; 'varchar',
        )),
         'valueType' =&gt;
        Cassandra\Type\Scalar::__set_state(array(
           'name' =&gt; 'varchar',
        )),
      )),
       'keys' =&gt;
      array (
        0 =&gt; 'city',
        1 =&gt; 'street',
        2 =&gt; 'zip',
      ),
       'values' =&gt;
      array (
        0 =&gt; '1000 Database Road',
        1 =&gt; '10025',
        2 =&gt; 'New York',
      ),
    )),
  ),
))
ID: 7d64dca1-dd4d-4f3c-bec4-6a88fa082a13
Name: Michael Scott
Addresses: Cassandra\Map::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Map::__set_state(array(
     'keyType' =&gt;
    Cassandra\Type\Scalar::__set_state(array(
       'name' =&gt; 'varchar',
    )),
     'valueType' =&gt;
    Cassandra\Type\Map::__set_state(array(
       'keyType' =&gt;
      Cassandra\Type\Scalar::__set_state(array(
         'name' =&gt; 'varchar',
      )),
       'valueType' =&gt;
      Cassandra\Type\Scalar::__set_state(array(
         'name' =&gt; 'varchar',
      )),
    )),
  )),
   'keys' =&gt;
  array (
    0 =&gt; 'work',
  ),
   'values' =&gt;
  array (
    0 =&gt;
    Cassandra\Map::__set_state(array(
       'type' =&gt;
      Cassandra\Type\Map::__set_state(array(
         'keyType' =&gt;
        Cassandra\Type\Scalar::__set_state(array(
           'name' =&gt; 'varchar',
        )),
         'valueType' =&gt;
        Cassandra\Type\Scalar::__set_state(array(
           'name' =&gt; 'varchar',
        )),
      )),
       'keys' =&gt;
      array (
        0 =&gt; 'city',
        1 =&gt; 'street',
        2 =&gt; 'zip',
      ),
       'values' =&gt;
      array (
        0 =&gt; '20000 Log Ave',
        1 =&gt; '95054',
        2 =&gt; 'Santa Clara',
      ),
    )),
  ),
))
</code></pre>
</dd>
</dl>
</div>

        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="http://downloads.datastax.com/php-driver/">Binaries</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/php-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/php-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/PHP/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/php-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/php-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/angular.js"></script>
    <script src="../../js/mousetrap.js"></script>
    <script src="../../js/hotkeys.js"></script>
    <script src="../../js/ZeroClipboard.js"></script>
    <script src="../../js/lunr.js"></script>
    <script src="../../js/app.js"></script>
  </body>
</html>
