[submodule "subprojects/cassandra_cpp"]
path = subprojects/cassandra_cpp
url = https://github.com/datastax/cpp-driver.git
[submodule "subprojects/libuv"]
path = subprojects/libuv
url = https://github.com/libuv/libuv.git
[submodule "lib/cpp-driver"]
	path = lib/cpp-driver
	url = https://github.com/datastax/cpp-driver.git
