*~
*.o
*.os
*.lo
*.so
*.dylib
*.la
*.lai
*.libs
*.sw*
*.loT
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
build
config.*
!config.m4
!config.w32
configure
configure.in
.sconf_temp
.sconsign.dblite
.deps
ac*.m4
mkinstalldirs
run-tests.php
install-sh
libtool
ltmain.sh
missing
/autom4te.cache/
ex*.php
debug.ini
cassandra.log
