<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax PHP Driver for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>DataStax PHP Driver - Datatypes</title>

    <link rel="icon" href="../../favicon.ico">
    <link rel="apple-touch-icon" href="../../favicon.png">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/pygments.css" rel="stylesheet">
    <link href="../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs">
    <div class="navbar">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-sm-3 text-center">
            <a class="ds-home" href="../../"><img alt="Brand" src="../../img/logo.png"></a>
            <ul class="list-inline ds-sites" role="nav">
              <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
              <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
              <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
            </ul>
          </div>
          <div class="col-md-5">
            <p class="lead pubtitle">DataStax PHP Driver</p>
            
            <div class="text-info">
              <span class="text-warning">Attention:</span> Viewing documentation for version
              <div class="btn-group">
                <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  1.3
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                
                  <li class="disabled"><a href="./">1.3</a></li>
                
                  <li><a href="../../1.2/features/datatypes/">1.2</a></li>
                
                  <li><a href="../../1.1/features/datatypes/">1.1</a></li>
                
                  <li><a href="../../1.0/features/datatypes/">1.0</a></li>
                
                </ul>
              </div>
            </div>
            
          </div>
          <div class="col-md-4">
            <form id="search" class="form-search dropdown visible-lg-inline-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
              <div class="form-group has-feedback">
                <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('1.3')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
              </div>
              <ul class="dropdown-menu search-results" role="menu">
                <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
              </ul>
            </form>
            <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3><a href="../../">Contents</a></h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  <li class="active">
    <a href="../">
      Features <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li class="active">
    <a href="./" class="current">
      Datatypes <small>feature</small>
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
</ul>

  </li>
  
  
  <li>
    <a href="../consistency_level/">
      Consistency Level <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../client_side_timestamps/">
      Client-side timestamps <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../simple_statements/">
      Simple Statements <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../prepared_statements/">
      Prepared Statements <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../batch_statements/">
      Batch statements <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../logging/">
      Logging <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../result_paging/">
      Result paging <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../schema_metadata/">
      Schema Metadata <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../sessions/">
      Sessions <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../ssl_encryption/">
      SSL encryption <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../user_defined_types/">
      User defined types <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../tuples/">
      Tuples <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../collections/">
      Collections <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../materialized_view_metadata/">
      Materialized View Metadata <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../retry_polices/">
      Retry Policies <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../secondary_index_metadata/">
      Secondary Index Metadata <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../simple_string_queries/">
      Simple string queries <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../function_and_aggregate_metadata/">
      User-defined Function (UDF) and Aggregate Metadata (UDA) <small>feature</small>
      
    </a>
    
  </li>
  
</ul>

  </li>
  
  
  <li>
    <a href="../../api/">
      API docs <small>index</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          <div class="crumbs-wrapper">
            <nav id="crumbs" data-spy="affix" data-offset-top="130">
              <ol class="breadcrumb">
                
                
                
                <li><a href="../../">Home</a></li>
                
                
                
                
                
                <li><a href="../">Features</a></li>
                
                
                
                
                
                <li class="active">Datatypes</li>
                
                
                
              </ol>
            </nav>
          </div>
          
<div class="feature-section">
<h1 id="datatypes" class="target">Datatypes<a class="anchor" href="#datatypes" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>
<p>PHP Driver supports all Cassandra datatypes</p>
<h2 id="background" class="target">Background<a class="anchor" href="#background" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>a running Cassandra cluster</dd>
</dl>
<h2 id="using-cassandra-value-types" class="target">Using Cassandra value types<a class="anchor" href="#using-cassandra-value-types" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>the following schema:<pre class="highlight"><code><span class="k">CREATE</span> <span class="k">KEYSPACE</span> <span class="n">simplex</span> <span class="k">WITH</span> <span class="n">replication</span> <span class="o">=</span> <span class="p">{</span>
  <span class="s1">'class'</span><span class="p">:</span> <span class="s1">'SimpleStrategy'</span><span class="p">,</span>
  <span class="s1">'replication_factor'</span><span class="p">:</span> <span class="mi">1</span>
<span class="p">};</span>
<span class="k">USE</span> <span class="n">simplex</span><span class="p">;</span>
<span class="k">CREATE</span> <span class="k">TABLE</span> <span class="k">values</span> <span class="p">(</span>
  <span class="n">id</span> <span class="k">int</span> <span class="k">PRIMARY</span> <span class="k">KEY</span><span class="p">,</span>
  <span class="n">bigint_value</span> <span class="k">bigint</span><span class="p">,</span>
  <span class="n">decimal_value</span> <span class="k">decimal</span><span class="p">,</span>
  <span class="n">double_value</span> <span class="k">double</span><span class="p">,</span>
  <span class="n">float_value</span> <span class="k">float</span><span class="p">,</span>
  <span class="n">int_value</span> <span class="k">int</span><span class="p">,</span>
  <span class="n">varint_value</span> <span class="k">varint</span><span class="p">,</span>
  <span class="n">timestamp_value</span> <span class="k">timestamp</span><span class="p">,</span>
  <span class="n">blob_value</span> <span class="k">blob</span><span class="p">,</span>
  <span class="n">uuid_value</span> <span class="k">uuid</span><span class="p">,</span>
  <span class="n">timeuuid_value</span> <span class="k">timeuuid</span><span class="p">,</span>
  <span class="n">inet_value</span> <span class="k">inet</span>
<span class="p">);</span>
<span class="k">INSERT</span> <span class="k">INTO</span> <span class="k">values</span> <span class="p">(</span>
  <span class="n">id</span><span class="p">,</span>
  <span class="n">bigint_value</span><span class="p">,</span>
  <span class="n">decimal_value</span><span class="p">,</span>
  <span class="n">double_value</span><span class="p">,</span>
  <span class="n">float_value</span><span class="p">,</span>
  <span class="n">int_value</span><span class="p">,</span>
  <span class="n">varint_value</span><span class="p">,</span>
  <span class="n">timestamp_value</span><span class="p">,</span>
  <span class="n">blob_value</span><span class="p">,</span>
  <span class="n">uuid_value</span><span class="p">,</span>
  <span class="n">timeuuid_value</span><span class="p">,</span>
  <span class="n">inet_value</span>
<span class="p">)</span>
<span class="k">VALUES</span> <span class="p">(</span>
  <span class="mi">0</span><span class="p">,</span>
  <span class="o">-</span><span class="mi">765438000</span><span class="p">,</span>
  <span class="mi">1313123123</span><span class="p">.</span><span class="mi">234234234234234234123</span><span class="p">,</span>
  <span class="mi">3</span><span class="p">.</span><span class="mi">141592653589793</span><span class="p">,</span>
  <span class="mi">3</span><span class="p">.</span><span class="mi">14</span><span class="p">,</span>
  <span class="mi">4</span><span class="p">,</span>
  <span class="mi">67890656781923123918798273492834712837198237</span><span class="p">,</span>
  <span class="mi">1425691864001</span><span class="p">,</span>
  <span class="n">varcharAsBlob</span><span class="p">(</span><span class="s1">'0x000000'</span><span class="p">),</span>
  <span class="mi">ab3352d9-4f7f-4007-a35a-e62aa7ab0b19</span><span class="p">,</span>
  <span class="n">maxTimeuuid</span><span class="p">(</span><span class="s1">'2015-03-11 14:47:10+0000'</span><span class="p">),</span>
  <span class="s1">'200.199.198.197'</span>
<span class="p">)</span>
</code></pre>
</dd>
<dt>And </dt>
<dd>the following example:<pre class="highlight"><code><span class="cp">&lt;?php</span>
<span class="nv">$cluster</span>   <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withContactPoints</span><span class="p">(</span><span class="s1">'127.0.0.1'</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span>   <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">);</span>
<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"SELECT * FROM values"</span><span class="p">);</span>
<span class="nv">$result</span>    <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">);</span>
<span class="nv">$row</span>       <span class="o">=</span> <span class="nv">$result</span><span class="o">-&gt;</span><span class="na">first</span><span class="p">();</span>

<span class="k">echo</span> <span class="s2">"Bigint: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'bigint_value'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Decimal: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'decimal_value'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Double: "</span> <span class="o">.</span> <span class="nb">sprintf</span><span class="p">(</span><span class="s1">'%.13f'</span><span class="p">,</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'double_value'</span><span class="p">])</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Float: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'float_value'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Int: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'int_value'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Varint: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'varint_value'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Timestamp: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'timestamp_value'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Blob: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'blob_value'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Uuid: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'uuid_value'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Timeuuid: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'timeuuid_value'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Inet: "</span> <span class="o">.</span> <span class="nb">var_export</span><span class="p">(</span><span class="nv">$row</span><span class="p">[</span><span class="s1">'inet_value'</span><span class="p">],</span> <span class="kc">true</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
</code></pre>
</dd>
<dt>When </dt>
<dd>it is executed</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>Bigint: Cassandra\Bigint::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Scalar::__set_state(array(
     'name' =&gt; 'bigint',
  )),
   'value' =&gt; '-765438000',
))
Decimal: Cassandra\Decimal::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Scalar::__set_state(array(
     'name' =&gt; 'decimal',
  )),
   'value' =&gt; '1313123123234234234234234234123',
   'scale' =&gt; 21,
))
Double: 3.1415926535898
Float: Cassandra\Float::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Scalar::__set_state(array(
     'name' =&gt; 'float',
  )),
   'value' =&gt; '3.14000010490417',
))
Int: 4
Varint: Cassandra\Varint::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Scalar::__set_state(array(
     'name' =&gt; 'varint',
  )),
   'value' =&gt; '67890656781923123918798273492834712837198237',
))
Timestamp: Cassandra\Timestamp::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Scalar::__set_state(array(
     'name' =&gt; 'timestamp',
  )),
   'seconds' =&gt; 1425691864,
   'microseconds' =&gt; 1000,
))
Blob: Cassandra\Blob::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Scalar::__set_state(array(
     'name' =&gt; 'blob',
  )),
   'bytes' =&gt; '0x3078303030303030',
))
Uuid: Cassandra\Uuid::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Scalar::__set_state(array(
     'name' =&gt; 'uuid',
  )),
   'uuid' =&gt; 'ab3352d9-4f7f-4007-a35a-e62aa7ab0b19',
   'version' =&gt; 4,
))
Timeuuid: Cassandra\Timeuuid::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Scalar::__set_state(array(
     'name' =&gt; 'timeuuid',
  )),
   'uuid' =&gt; '7f0a920f-c7fd-11e4-7f7f-7f7f7f7f7f7f',
   'version' =&gt; 1,
))
Inet: Cassandra\Inet::__set_state(array(
   'type' =&gt;
  Cassandra\Type\Scalar::__set_state(array(
     'name' =&gt; 'inet',
  )),
   'address' =&gt; '200.199.198.197',
))
</code></pre>
</dd>
</dl>
<div class="pull-right"><span class="label label-primary">since cassadra v2.2</span></div>
<h2 id="using-cassandra-tinyint-and-smallint-types" class="target">Using Cassandra tinyint and smallint types<a class="anchor" href="#using-cassandra-tinyint-and-smallint-types" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>the following schema:<pre class="highlight"><code><span class="k">CREATE</span> <span class="k">KEYSPACE</span> <span class="n">simplex</span> <span class="k">WITH</span> <span class="n">replication</span> <span class="o">=</span> <span class="p">{</span>
  <span class="s1">'class'</span><span class="p">:</span> <span class="s1">'SimpleStrategy'</span><span class="p">,</span>
  <span class="s1">'replication_factor'</span><span class="p">:</span> <span class="mi">1</span>
<span class="p">};</span>
<span class="k">USE</span> <span class="n">simplex</span><span class="p">;</span>
<span class="k">CREATE</span> <span class="k">TABLE</span> <span class="k">values</span> <span class="p">(</span>
  <span class="n">id</span> <span class="k">int</span> <span class="k">PRIMARY</span> <span class="k">KEY</span><span class="p">,</span>
  <span class="n">tinyint_value</span> <span class="n">tinyint</span><span class="p">,</span>
  <span class="n">smallint_value</span> <span class="n">smallint</span><span class="p">,</span>
<span class="p">);</span>
</code></pre>
</dd>
<dt>And </dt>
<dd>the following example:<pre class="highlight"><code><span class="cp">&lt;?php</span>
<span class="nv">$cluster</span>   <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withContactPoints</span><span class="p">(</span><span class="s1">'127.0.0.1'</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span>   <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"INSERT INTO values (id, tinyint_value, smallint_value) VALUES (?, ?, ?)"</span><span class="p">);</span>
<span class="nv">$options</span>   <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">'arguments'</span> <span class="o">=&gt;</span>
  <span class="k">array</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Cassandra\Tinyint</span><span class="p">(</span><span class="mi">127</span><span class="p">),</span> <span class="k">new</span> <span class="nx">Cassandra\Smallint</span><span class="p">(</span><span class="mi">32767</span><span class="p">))</span>
<span class="p">);</span>
<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">,</span> <span class="nv">$options</span><span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"SELECT * FROM values"</span><span class="p">);</span>
<span class="nv">$result</span>    <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">);</span>
<span class="nv">$row</span>       <span class="o">=</span> <span class="nv">$result</span><span class="o">-&gt;</span><span class="na">first</span><span class="p">();</span>

<span class="k">echo</span> <span class="s2">"Tinyint: "</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'tinyint_value'</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">value</span><span class="p">()</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="k">echo</span> <span class="s2">"Smallint: "</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'smallint_value'</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">value</span><span class="p">()</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
</code></pre>
</dd>
<dt>When </dt>
<dd>it is executed</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>Tinyint: 127
Smallint: 32767
</code></pre>
</dd>
</dl>
<div class="pull-right"><span class="label label-primary">since cassadra v2.2</span></div>
<h2 id="using-cassandra-date-type" class="target">Using Cassandra date type<a class="anchor" href="#using-cassandra-date-type" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>the following schema:<pre class="highlight"><code><span class="k">CREATE</span> <span class="k">KEYSPACE</span> <span class="n">simplex</span> <span class="k">WITH</span> <span class="n">replication</span> <span class="o">=</span> <span class="p">{</span>
  <span class="s1">'class'</span><span class="p">:</span> <span class="s1">'SimpleStrategy'</span><span class="p">,</span>
  <span class="s1">'replication_factor'</span><span class="p">:</span> <span class="mi">1</span>
<span class="p">};</span>
<span class="k">USE</span> <span class="n">simplex</span><span class="p">;</span>
<span class="k">CREATE</span> <span class="k">TABLE</span> <span class="n">date_values</span> <span class="p">(</span>
  <span class="n">id</span> <span class="k">int</span> <span class="k">PRIMARY</span> <span class="k">KEY</span><span class="p">,</span>
  <span class="n">date_value</span> <span class="n">date</span>
<span class="p">);</span>
</code></pre>
</dd>
<dt>And </dt>
<dd>the following example:<pre class="highlight"><code><span class="cp">&lt;?php</span>
<span class="nv">$cluster</span>   <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withContactPoints</span><span class="p">(</span><span class="s1">'127.0.0.1'</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span>   <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"INSERT INTO date_values (id, date_value) VALUES (?, ?)"</span><span class="p">);</span>
<span class="nv">$options</span>   <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">'arguments'</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Cassandra\Date</span><span class="p">(</span><span class="mi">0</span><span class="p">)));</span>
<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">,</span> <span class="nv">$options</span><span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"SELECT * FROM date_values"</span><span class="p">);</span>
<span class="nv">$result</span>    <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">);</span>
<span class="nv">$row</span>       <span class="o">=</span> <span class="nv">$result</span><span class="o">-&gt;</span><span class="na">first</span><span class="p">();</span>

<span class="k">echo</span> <span class="s2">"Date: "</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'date_value'</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">toDateTime</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">format</span><span class="p">(</span><span class="s2">"Y-m-d H:i:s"</span><span class="p">)</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
</code></pre>
</dd>
<dt>When </dt>
<dd>it is executed</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>Date: 1970-01-01 00:00:00
</code></pre>
</dd>
</dl>
<div class="pull-right"><span class="label label-primary">since cassadra v2.2</span></div>
<h2 id="using-cassandra-time-type" class="target">Using Cassandra time type<a class="anchor" href="#using-cassandra-time-type" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>the following schema:<pre class="highlight"><code><span class="k">CREATE</span> <span class="k">KEYSPACE</span> <span class="n">simplex</span> <span class="k">WITH</span> <span class="n">replication</span> <span class="o">=</span> <span class="p">{</span>
  <span class="s1">'class'</span><span class="p">:</span> <span class="s1">'SimpleStrategy'</span><span class="p">,</span>
  <span class="s1">'replication_factor'</span><span class="p">:</span> <span class="mi">1</span>
<span class="p">};</span>
<span class="k">USE</span> <span class="n">simplex</span><span class="p">;</span>
<span class="k">CREATE</span> <span class="k">TABLE</span> <span class="n">time_values</span> <span class="p">(</span>
  <span class="n">id</span> <span class="k">int</span> <span class="k">PRIMARY</span> <span class="k">KEY</span><span class="p">,</span>
  <span class="n">time_value</span> <span class="n">time</span>
<span class="p">);</span>
</code></pre>
</dd>
<dt>And </dt>
<dd>the following example:<pre class="highlight"><code><span class="cp">&lt;?php</span>
<span class="nv">$cluster</span>   <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withContactPoints</span><span class="p">(</span><span class="s1">'127.0.0.1'</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span>   <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"INSERT INTO time_values (id, time_value) VALUES (?, ?)"</span><span class="p">);</span>
<span class="nv">$datetime</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">\DateTime</span><span class="p">(</span><span class="s2">"1970-01-01T00:00:01+0000"</span><span class="p">);</span>
<span class="nv">$options</span>   <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">'arguments'</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="nx">Cassandra\Time</span><span class="o">::</span><span class="na">fromDateTime</span><span class="p">(</span><span class="nv">$datetime</span><span class="p">)));</span>
<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">,</span> <span class="nv">$options</span><span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"SELECT * FROM time_values"</span><span class="p">);</span>
<span class="nv">$result</span>    <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">);</span>
<span class="nv">$row</span>       <span class="o">=</span> <span class="nv">$result</span><span class="o">-&gt;</span><span class="na">first</span><span class="p">();</span>

<span class="k">echo</span> <span class="s2">"Time: "</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'time_value'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
</code></pre>
</dd>
<dt>When </dt>
<dd>it is executed</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>Time: 1000000000
</code></pre>
</dd>
</dl>
</div>

        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="http://downloads.datastax.com/php-driver/">Binaries</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/php-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/php-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/PHP/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/php-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/php-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/angular.js"></script>
    <script src="../../js/mousetrap.js"></script>
    <script src="../../js/hotkeys.js"></script>
    <script src="../../js/ZeroClipboard.js"></script>
    <script src="../../js/lunr.js"></script>
    <script src="../../js/app.js"></script>
  </body>
</html>
