Source: cassandra-php
Section: pns/php
Priority: extra
Maintainer: Sandro Lex <sandro.lex@orange.com>
Build-Depends: debhelper (>= 5), autotools-dev, g++, make, cmake, libuv1-dev, libssl-dev, libgmp-dev, php5, php5-dev, openssl, git, pkg-config, libpcre3-dev
Standards-Version: 3.8.3

Homepage: https://github.com/datastax/php-driver
Package: cassandra-php
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}, libboost-regex1.46.1
Description: Datastax driver for Apache Cassandra.
