<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax PHP Driver for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>DataStax PHP Driver - Features</title>

    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" href="../favicon.png">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/pygments.css" rel="stylesheet">
    <link href="../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target=".side-nav">
    <header class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">DataStax PHP Driver</a>
        </div>
        <div class="collapse navbar-collapse" ng-controller="search">
          <ul class="nav navbar-nav">
            
            
            
            <li class="active">
              <a href="./">Features</a>
            </li>
            
            
            <li>
              <a href="../api/">API docs</a>
            </li>
            
          </ul>
          <form class="navbar-form form-search navbar-right dropdown visible-lg-block" ng-class="{open: hasResults}" role="search" ng-submit="submit()">
            <div class="form-group has-feedback">
              <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('current')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
            </div>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
            </ul>
          </form>
        </div>
      </div>
    </header>

    <div class="container" id="content">
      <div class="row">
        <div class="col-md-9 content">
          <nav class="crumbs">
            <ol class="breadcrumb">
              
              
              
              
              <li><a href="../">Home</a></li>
              
              
              
              
              
              <li class="active">Features</li>
              
              
              
            </ol>
          </nav>
          

<h1 id="features">Features<a class="anchor" href="#features" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<h2 id="usage">Usage<a class="anchor" href="#usage" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<h3 id="specifying-addresses-of-cassandra-nodes">Specifying addresses of Cassandra nodes<a class="anchor" href="#specifying-addresses-of-cassandra-nodes" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p><a href="../api/class/Cassandra/Cluster/Builder/#with-contact-points"><code>withContactPoints()</code></a> and <a href="../api/class/Cassandra/Cluster/Builder/#with-port"><code>withPort()</code></a> methods of the <a href="../api/class/Cassandra/Cluster/Builder/"><code>Cassandra\Cluster\Builder</code></a> are used to specify IP addresses or hostnames and port number of the nodes in a given Cassandra cluster.</p>

<p>Note that you don’t have to specify the addresses of all hosts in your cluster. Once the driver has established a connection to any host, it will perform auto-discovery and connect to all hosts in the cluster.</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$cluster</span> <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withContactPoints</span><span class="p">(</span><span class="s1">'10.0.1.24'</span><span class="p">,</span> <span class="s1">'example.com'</span><span class="p">,</span> <span class="s1">'localhost'</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">withPort</span><span class="p">(</span><span class="mi">9042</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span> <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">();</span>
</code></pre>
<h3 id="discovering-nodes-in-the-cluster">Discovering nodes in the cluster<a class="anchor" href="#discovering-nodes-in-the-cluster" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>After the initial connection to one of the hosts specified via <code>withContactPoints()</code> succeeds, the driver discovers the addresses and connects to all members of the cluster automatically. You can also see the nodes that the driver discovered by running <code>SELECT * FROM system.peers</code>.</p>

<h3 id="persistent-sessions">Persistent sessions<a class="anchor" href="#persistent-sessions" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>In order to limit the startup time and total number of connections to a Cassandra cluster, the PHP Driver enables persistent sessions by default. All cluster and sessions using the same initial configuration will be shared across requests when persistent sessions are enabled. You can toggle this setting using <a href="../api/class/Cassandra/Cluster/Builder/#with-persistent-sessions"><code>Cassandra\Cluster\Builder::withPersistentSessions()</code></a>.</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$cluster</span> <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withPersistentSessions</span><span class="p">(</span><span class="kc">false</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span> <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">();</span>
</code></pre>
<p>Note that disabling persistent sessions will cause a significant slow down of cluster initialization as the connections will be forced to get re-established for every request.</p>

<p>Once persistent sessions are enabled, you can view how many of them are currently active. They will be exposed in the Cassandra extension section of <code>phpinfo()</code>.</p>

<p>Persistent sessions stay alive for the duration of the parent process, typically a php-fpm worker or apache worker. These sessions will be reused for all requests served by that worker process. Once a worker process has reached its end of life, sessions will get cleaned up automatically and will be re-create in the new process.</p>

<h3 id="configuring-load-balancing-policy">Configuring load balancing policy<a class="anchor" href="#configuring-load-balancing-policy" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>The PHP Driver comes with a variety of load balancing policies. By default it uses a combination of token aware data center round robin.</p>

<p>The token aware load balancing policy uses the same hashing algorithms as the Apache Cassandra to directly route the execution of prepared statements to the replica node, avoiding an additional network hop to/from the coordinator. You can toggle its usage with <a href="../api/class/Cassandra/Cluster/Builder/#with-token-aware-routing"><code>Cassandra\Cluster\Builder::withTokenAwareRouting()</code></a>.</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$cluster</span> <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withTokenAwareRouting</span><span class="p">(</span><span class="kc">false</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span> <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">();</span>
</code></pre>
<p>The default datacenter aware round robin load balancing policy is configured to keep all traffic in the same datacenter. Upon connecting to a host from the initial list of contact points, the driver will consider that host’s datacenter to be local. Only hosts from the same datacenter will be connected to and used for executing statements. You can override the name of the local datacenter. The number of hosts from remote datacenters that the driver may use and whether it should execute statements with local consistencies on those hosts in case none of the local hosts are available. All of that is configurable via <a href="../api/class/Cassandra/Cluster/Builder/#with-datacenter-aware-round-robin-load-balancing-policy"><code>Cassandra\Cluster\Builder::withDatacenterAwareRoundRobinLoadBalancingPolicy()</code></a>.</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$cluster</span> <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withDatacenterAwareRoundRobinLoadBalancingPolicy</span><span class="p">(</span><span class="s2">"us-west"</span><span class="p">,</span> <span class="mi">2</span><span class="p">,</span> <span class="kc">true</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span> <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">();</span>
</code></pre>
<p>Finally, you may disable datacenter awareness by calling <a href="../api/class/Cassandra/Cluster/Builder/#with-round-robin-load-balancing-policy"><code>Cassandra\Cluster\Builder::withRoundRobinLoadBalancingPolicy()</code></a>.</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$cluster</span> <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withRoundRobinLoadBalancingPolicy</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span> <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">();</span>
</code></pre>
<h3 id="authenticating-via-password-authenticator">Authenticating via <code>PasswordAuthenticator</code>
<a class="anchor" href="#authenticating-via-password-authenticator" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>The PHP Driver supports Apache Cassandra’s built-in password authentication mechanism. To enable it, use <a href="../api/class/Cassandra/Cluster/Builder/#with-credentials"><code>Cassandra\Cluster\Builder::withCredentials()</code></a>.</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$cluster</span> <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withCredentials</span><span class="p">(</span><span class="s2">"username"</span><span class="p">,</span> <span class="s2">"password"</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span> <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">();</span>
</code></pre>
<h3 id="enabling-ssl-encryption">Enabling SSL encryption<a class="anchor" href="#enabling-ssl-encryption" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>The PHP Driver supports SSL encryption of network connections. You must configure <a href="../api/class/Cassandra/SSLOptions/"><code>Cassandra\SSLOptions</code></a> using the <a href="../api/class/Cassandra/SSLOptions/Builder/"><code>Cassandra\SSLOptions\Builder</code></a>.</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$ssl</span>     <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">ssl</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withTrustedCerts</span><span class="p">(</span><span class="s1">'node1.pem'</span><span class="p">,</span> <span class="s1">'node2.pem'</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">withVerifyFlags</span><span class="p">(</span><span class="nx">Cassandra</span><span class="o">::</span><span class="na">VERIFY_PEER_CERT</span> <span class="o">|</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">VERIFY_PEER_IDENTITY</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">withClientCert</span><span class="p">(</span><span class="s1">'client.pem'</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">withPrivateKey</span><span class="p">(</span><span class="s1">'id_rsa'</span><span class="p">,</span> <span class="s1">'passphrase'</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">()</span>
<span class="nv">$cluster</span> <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withSSL</span><span class="p">(</span><span class="nv">$ssl</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span> <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">();</span>
</code></pre>
<h3 id="executing-queries">Executing queries<a class="anchor" href="#executing-queries" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>You run CQL statements by passing them to <a href="../api/interface/Cassandra/Session/"><code>Cassandra\Session::execute()</code></a>.</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$result</span> <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s1">'SELECT keyspace_name, columnfamily_name FROM system.schema_columnfamilies'</span><span class="p">));</span>

<span class="k">foreach</span> <span class="p">(</span><span class="nv">$result</span> <span class="k">as</span> <span class="nv">$row</span><span class="p">)</span> <span class="p">{</span>
    <span class="nb">sprintf</span><span class="p">(</span><span class="s2">"The keyspace </span><span class="se">\"</span><span class="s2">%s</span><span class="se">\"</span><span class="s2"> has a table </span><span class="se">\"</span><span class="s2">%s</span><span class="se">\"</span><span class="s2">.</span><span class="se">\n</span><span class="s2">"</span><span class="p">,</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'keyspace_name'</span><span class="p">],</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'columnfamily_name'</span><span class="p">]);</span>
<span class="p">}</span>
</code></pre>
<h3 id="parameterized-queries">Parameterized queries<a class="anchor" href="#parameterized-queries" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p><strong>If you’re using Cassandra 2.0 or later</strong> you no longer have to build CQL strings when you want to insert a value in a query, there’s a new feature that lets you bind values with regular statements:</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span>
    <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"UPDATE users SET age = ? WHERE user_name = ?"</span><span class="p">),</span>
    <span class="k">new</span> <span class="nx">Cassandra\ExecutionOptions</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="s1">'arguments'</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span><span class="mi">41</span><span class="p">,</span> <span class="s1">'Sam'</span><span class="p">)</span>
    <span class="p">))</span>
<span class="p">);</span>
</code></pre>
<p>For frequently executed queries, it’s strongly recommended to use prepared statements. As a rule of thumb, if your application is sending a request more than once, a prepared statement is almost always the right choice.</p>

<h3 id="prepared-statements">Prepared statements<a class="anchor" href="#prepared-statements" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>The driver supports prepared statements. Use <a href="../api/interface/Cassandra/Session/#prepare"><code>Cassandra\Session::prepare()</code></a> to create a <a href="../api/class/Cassandra/PreparedStatement/"><code>Cassandra\PreparedStatement</code></a> object, and then call <a href="../api/interface/Cassandra/Session/#execute"><code>Cassandra\Session::execute()</code></a>.</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">prepare</span><span class="p">(</span><span class="s1">'INSERT INTO users (username, email) VALUES (?, ?)'</span><span class="p">);</span>

<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Cassandra\ExecutionOptions</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="s1">'arguments'</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span><span class="s1">'avalanche123'</span><span class="p">,</span> <span class="s1">'bulat.shakirzyanov@datastax.com'</span><span class="p">)</span>
<span class="p">)));</span>
</code></pre>
<p>A prepared statement can be run many times, but the CQL parsing will only be done once on each node. Use prepared statements for queries you run over and over again.</p>

<h3 id="executing-statements-in-parallel">Executing statements in parallel<a class="anchor" href="#executing-statements-in-parallel" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>With fully asynchronous API, it is very easy to run queries in parallel:</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$data</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="k">array</span><span class="p">(</span><span class="mi">41</span><span class="p">,</span> <span class="s1">'Sam'</span><span class="p">),</span>
    <span class="k">array</span><span class="p">(</span><span class="mi">35</span><span class="p">,</span> <span class="s1">'Bob'</span><span class="p">)</span>
<span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">prepare</span><span class="p">(</span><span class="s2">"UPDATE users SET age = ? WHERE user_name = ?"</span><span class="p">);</span>
<span class="nv">$futures</span>   <span class="o">=</span> <span class="k">array</span><span class="p">();</span>

<span class="c1">// execute all statements in background
</span><span class="k">foreach</span> <span class="p">(</span><span class="nv">$data</span> <span class="k">as</span> <span class="nv">$arguments</span><span class="p">)</span> <span class="p">{</span>
    <span class="nv">$futures</span><span class="p">[]</span><span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">executeAsync</span><span class="p">(</span><span class="nv">$statement</span><span class="p">,</span> <span class="k">new</span> <span class="nx">ExecutionOptions</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
                    <span class="s1">'arguments'</span> <span class="o">=&gt;</span> <span class="nv">$arguments</span>
                <span class="p">)));</span>
<span class="p">}</span>

<span class="c1">// wait for all statements to complete
</span><span class="k">foreach</span> <span class="p">(</span><span class="nv">$futures</span> <span class="k">as</span> <span class="nv">$future</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// we will not wait for each result for more than 5 seconds
</span>    <span class="nv">$future</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="mi">5</span><span class="p">);</span>
<span class="p">}</span>
</code></pre>
<p>Note that it is not enough to simply create a <a href="../api/interface/Cassandra/Future/"><code>Cassandra\Future</code></a> by calling one of the <code>*Async()</code> methods, you must ensure that this future has enough time to be executed by calling <a href="../api/interface/Cassandra/Future/#get"><code>Cassandra\Future::get()</code></a>.</p>

<h3 id="creating-keyspaces-and-tables">Creating keyspaces and tables<a class="anchor" href="#creating-keyspaces-and-tables" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>There is no special facility for creating keyspaces and tables, they are created by executing CQL:</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$createKeyspace</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="sh">&lt;&lt;&lt;EOD
CREATE KEYSPACE measurements
WITH replication = {
  'class': 'SimpleStrategy',
  'replication_factor': 1
}
EOD
</span><span class="p">);</span>

<span class="nv">$createTable</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="sh">&lt;&lt;&lt;EOD
CREATE TABLE events (
  id INT,
  date DATE,
  comment VARCHAR,
  PRIMARY KEY (id)
)
EOD
</span><span class="p">);</span>

<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$createKeyspace</span><span class="p">);</span>
<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="s1">'USE measurements'</span><span class="p">);</span>
<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$createTable</span><span class="p">);</span>
</code></pre>
<p>You can also <code>ALTER</code> keyspaces and tables, and you can read more about that in the <a href="https://github.com/apache/cassandra/blob/cassandra-2.0/doc/cql3/CQL.textile">CQL3 syntax documentation</a>.</p>

<h3 id="batch-statements">Batch statements<a class="anchor" href="#batch-statements" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p><strong>If you’re using Cassandra 2.0 or later</strong> you can build batch requests, either from simple or prepared statements. Batches must not contain any select statements, only <code>INSERT</code>, <code>UPDATE</code> and <code>DELETE</code> statements are allowed.</p>

<p>You can mix any combination of statements in a batch:</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$batch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\BatchStatement</span><span class="p">();</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">prepare</span><span class="p">(</span><span class="s2">"UPDATE users SET name = ? WHERE user_id = ?"</span><span class="p">);</span>
<span class="nv">$batch</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="nv">$statement</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">'Sue'</span><span class="p">,</span> <span class="s1">'unicorn31'</span><span class="p">));</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"UPDATE users SET age = 19 WHERE user_id = 'unicorn31'"</span><span class="p">);</span>
<span class="nv">$batch</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="nv">$statement</span><span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"INSERT INTO activity (user_id, what, when) VALUES (?, 'login', NOW())"</span><span class="p">);</span>
<span class="nv">$batch</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="nv">$statement</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">'unicorn31'</span><span class="p">));</span>

<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$batch</span><span class="p">);</span>
</code></pre>
<p>Batches can have one of three different types: <code>logged</code>, <code>unlogged</code> or <code>counter</code>, where <code>logged</code> is the default. Their exact semantics are defined in the <a href="http://docs.datastax.com/en/cql/3.1/cql/cql_reference/batch_r.html">Cassandra documentation</a>, but this is how you specify which one you want:</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$batch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\BatchStatement</span><span class="p">(</span><span class="nx">Cassandra</span><span class="o">::</span><span class="na">BATCH_LOGGED</span><span class="p">);</span>
<span class="nv">$batch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\BatchStatement</span><span class="p">(</span><span class="nx">Cassandra</span><span class="o">::</span><span class="na">BATCH_UNLOGGED</span><span class="p">);</span>
<span class="nv">$batch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\BatchStatement</span><span class="p">(</span><span class="nx">Cassandra</span><span class="o">::</span><span class="na">BATCH_COUNTER</span><span class="p">);</span>
</code></pre>
<p><a href="../api/class/Cassandra/BatchStatement/">Read more about <code>Cassandra\BatchStatement</code></a></p>

<p>Cassandra 1.2 also supported batching, but only as a CQL feature, you had to build the batch as a string, and it didn’t really play well with prepared statements.</p>

<h3 id="result-paging">Result paging<a class="anchor" href="#result-paging" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p><strong>If you’re using Cassandra 2.0</strong> or later you can page your query results.</p>

<p>By default, a page size of 5000 will be used, you can override the default page size via <a href="../api/class/Cassandra/Cluster/Builder/#with-default-page-size"><code>Cassandra\Cluster\Builder::withDefaultPageSize()</code></a>.</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$cluster</span> <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withDefaultPageSize</span><span class="p">(</span><span class="mi">200</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span> <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">();</span>
</code></pre>
<p>You can also override the page size on a per-execute basis by adding the <code>page_size</code> option to <a href="../api/class/Cassandra/ExecutionOptions/"><code>Cassandra\ExecutionOptions</code></a>:</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"SELECT * FROM large_table WHERE id = 'partition_with_lots_of_data'"</span><span class="p">);</span>
<span class="nv">$result</span>    <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Cassandra\ExecutionOptions</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">'page_size'</span> <span class="o">=&gt;</span> <span class="mi">100</span><span class="p">)));</span>

<span class="k">while</span> <span class="p">(</span><span class="nv">$result</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">foreach</span> <span class="p">(</span><span class="nv">$result</span> <span class="k">as</span> <span class="nv">$row</span><span class="p">)</span> <span class="p">{</span>
        <span class="nb">var_dump</span><span class="p">(</span><span class="nv">$row</span><span class="p">);</span>
    <span class="p">}</span>
    <span class="nv">$result</span> <span class="o">=</span> <span class="nv">$result</span><span class="o">-&gt;</span><span class="na">nextPage</span><span class="p">();</span>
<span class="p">}</span>
</code></pre>
<p><a href="../api/class/Cassandra/Rows/#next-page">Read more about <code>Cassandra\Rows::nextPage()</code></a></p>

<h3 id="consistency">Consistency<a class="anchor" href="#consistency" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>You can specify the default consistency to use for statements execution when you create a new <code>Cassandra\Cluster</code>:</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$cluster</span> <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withDefaultConsistency</span><span class="p">(</span><span class="nx">Cassandra</span><span class="o">::</span><span class="na">CONSISTENCY_LOCAL_QUORUM</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span> <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">();</span>
</code></pre>
<p><a href="../api/class/Cassandra/Cluster/Builder/#with-default-consistency">Read more <code>Cassandra\Cluster\Builder::withDefaultConsistency()</code></a></p>

<p>Consistency can also be passed via <code>Cassandra\ExecutionOptions</code>.</p>
<pre class="highlight"><code><span class="cp">&lt;?php</span>

<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span>
    <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s1">'SELECT * FROM users'</span><span class="p">),</span>
    <span class="k">new</span> <span class="nx">Cassandra\ExecutionOptions</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">'consistency'</span> <span class="o">=&gt;</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">CONSISTENCY_LOCAL_QUORUM</span><span class="p">))</span>
<span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">prepare</span><span class="p">(</span><span class="s1">'SELECT * FROM users'</span><span class="p">);</span>
<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Cassandra\ExecutionOptions</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="s1">'consistency'</span> <span class="o">=&gt;</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">CONSISTENCY_LOCAL_QUORUM</span>
<span class="p">)));</span>

<span class="nv">$batch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\BatchStatement</span><span class="p">();</span>
<span class="nv">$batch</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"UPDATE users SET email = 'sue@foobar.com' WHERE id = 'sue'"</span><span class="p">));</span>
<span class="nv">$batch</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"UPDATE users SET email = 'tom@foobar.com' WHERE id = 'tom'"</span><span class="p">));</span>
<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$batch</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Cassandra\ExecutionOptions</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="s1">'consistency'</span> <span class="o">=&gt;</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">CONSISTENCY_LOCAL_QUORUM</span>
<span class="p">)));</span>
</code></pre>
<p><a href="../api/class/Cassandra/ExecutionOptions/">Read more about <code>Cassandra\ExecutionOptions</code></a></p>

<p><a href="../api/interface/Cassandra/Session/#execute">Read more about <code>Cassandra\Session::execute()</code></a></p>

<p>The default consistency level unless you’ve set it yourself is <code>Cassandra::CONSISTENCY_ONE</code>.</p>

<p>Consistency is ignored for <code>USE</code>, <code>TRUNCATE</code>, <code>CREATE</code> and <code>ALTER</code> statements, and some (like <code>Cassandra::CONSISTENCY_ANY</code>) aren’t allowed in all situations.</p>

<h3 id="logging">Logging<a class="anchor" href="#logging" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>You can configure the location of the log file for the driver as well as the log level using the following <code>php.ini</code> settings:</p>
<pre class="highlight"><code><span class="nn">[cassandra]</span>
<span class="py">cassandra.log</span><span class="p">=</span><span class="s">syslog</span>
<span class="py">cassandra.log_level</span><span class="p">=</span><span class="s">INFO</span>
</code></pre>
<p>You can specify any file path as <code>cassandra.log</code>.</p>

<p>The special value <code>syslog</code> can be used to for the driver to use syslog for logging. Syslog is only supported on *nix systems.</p>

<p>The possible log levels are:</p>

<ul>
<li>CRITICAL</li>
<li>ERROR</li>
<li>WARN</li>
<li>INFO</li>
<li>DEBUG</li>
<li>TRACE</li>
</ul>

<p>Most of the logging will be when the driver connects and discovers new nodes, when connections fail and so on. The logging is designed to not cause much overhead and only relatively rare events are logged (e.g. normal requests are not logged).</p>

<h2 id="architecture">Architecture<a class="anchor" href="#architecture" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>The PHP Driver follows the architecture of <a href="http://datastax.github.io/cpp-driver/topics/#architecture">the C/C++ Driver</a> that it wraps.</p>

<h3 id="persistent-sessions">Persistent sessions<a class="anchor" href="#persistent-sessions" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>By default, the driver uses persistent sessions to prevent each request from creating completely new TCP connections to a Cassandra cluster. You can toggle this functionality using <a href="../api/class/Cassandra/Cluster/Builder/#with-persistent-sessions"><code>Cassandra\Cluster\Builder::withPersistentSessions</code></a></p>


        </div>
        <div class="col-md-3">
          <div id="navigation" class="panel-group side-nav" data-spy="affix" data-offset-top="60" data-offset-bottom="80" role="tablist" aria-multiselectable="true">
            <div id="table-of-contents-panel" class="panel panel-default">
              <div id="table-of-contents-heading" class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#table-of-contents" aria-expanded="true" aria-controls="table-of-contents">
                    Contents<i class="pull-right glyphicon glyphicon-chevron-up"></i>
                  </a>
                </h4>
              </div>
              <div id="table-of-contents" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="table-of-contents-heading">
                <div class="panel-body">
                  <ol class="nav nav-pills nav-stacked toc">
<li>
<a href="#usage">Usage
</a><ol class="nav nav-pills nav-stacked">
<li><a href="#specifying-addresses-of-cassandra-nodes">Specifying addresses of Cassandra nodes
</a></li>
<li><a href="#discovering-nodes-in-the-cluster">Discovering nodes in the cluster
</a></li>
<li><a href="#persistent-sessions">Persistent sessions
</a></li>
<li><a href="#configuring-load-balancing-policy">Configuring load balancing policy
</a></li>
<li><a href="#authenticating-via-password-authenticator">Authenticating via PasswordAuthenticator

</a></li>
<li><a href="#enabling-ssl-encryption">Enabling SSL encryption
</a></li>
<li><a href="#executing-queries">Executing queries
</a></li>
<li><a href="#parameterized-queries">Parameterized queries
</a></li>
<li><a href="#prepared-statements">Prepared statements
</a></li>
<li><a href="#executing-statements-in-parallel">Executing statements in parallel
</a></li>
<li><a href="#creating-keyspaces-and-tables">Creating keyspaces and tables
</a></li>
<li><a href="#batch-statements">Batch statements
</a></li>
<li><a href="#result-paging">Result paging
</a></li>
<li><a href="#consistency">Consistency
</a></li>
<li><a href="#logging">Logging
</a></li>
</ol>
</li>
<li>
<a href="#architecture">Architecture
</a><ol class="nav nav-pills nav-stacked"><li><a href="#persistent-sessions">Persistent sessions
</a></li></ol>
</li>
</ol>
                </div>
              </div>
            </div>

            
            <div id="read-more-panel" class="panel panel-default">
              <div id="read-more-heading" class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#read-more" aria-expanded="true" aria-controls="read-more">
                    Read More<i class="pull-right glyphicon glyphicon-chevron-up"></i>
                  </a>
                </h4>
              </div>
              <div id="read-more" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="read-more-heading">
                <div class="panel-body">
                  <ol class="nav nav-pills nav-stacked">
                  
                    <li>
                      <a href="datatypes/">Datatypes</a>
                    </li>
                  
                    <li>
                      <a href="simple_statements/">Simple Statements</a>
                    </li>
                  
                    <li>
                      <a href="prepared_statements/">Prepared Statements</a>
                    </li>
                  
                    <li>
                      <a href="batch_statements/">Batch statements</a>
                    </li>
                  
                    <li>
                      <a href="consistency_level/">Consistency Level</a>
                    </li>
                  
                    <li>
                      <a href="result_paging/">Result paging</a>
                    </li>
                  
                    <li>
                      <a href="sessions/">Sessions</a>
                    </li>
                  
                    <li>
                      <a href="ssl_encryption/">SSL encryption</a>
                    </li>
                  
                    <li>
                      <a href="logging/">Logging</a>
                    </li>
                  
                  </ol>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/php-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/php-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/PHP/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/php-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/php-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/angular.js"></script>
    <script src="../js/mousetrap.js"></script>
    <script src="../js/hotkeys.js"></script>
    <script src="../js/ZeroClipboard.js"></script>
    <script src="../js/lunr.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
