<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax PHP Driver for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>DataStax PHP Driver - Retry Policies</title>

    <link rel="icon" href="../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../favicon.png">
    <link href="../../../css/style.css" rel="stylesheet">
    <link href="../../../css/pygments.css" rel="stylesheet">
    <link href="../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs">
    <div class="navbar">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-sm-3 text-center">
            <a class="ds-home" href="../../"><img alt="Brand" src="../../../img/logo.png"></a>
            <ul class="list-inline ds-sites" role="nav">
              <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
              <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
              <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
            </ul>
          </div>
          <div class="col-md-5">
            <p class="lead pubtitle">DataStax PHP Driver</p>
            
            <div class="text-info">
              <span class="text-warning">Attention:</span> Viewing documentation for version
              <div class="btn-group">
                <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  1.2
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                
                  <li><a href="../../../features/retry_polices/">1.3</a></li>
                
                  <li class="disabled"><a href="./">1.2</a></li>
                
                  <li><a href="../../../1.1/features/retry_polices/">1.1</a></li>
                
                  <li><a href="../../../1.0/">1.0</a></li>
                
                </ul>
              </div>
            </div>
            
          </div>
          <div class="col-md-4">
            <form id="search" class="form-search dropdown visible-lg-inline-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
              <div class="form-group has-feedback">
                <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('1.2')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
              </div>
              <ul class="dropdown-menu search-results" role="menu">
                <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
              </ul>
            </form>
            <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3><a href="../../">Contents</a></h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  <li class="active">
    <a href="../">
      Features <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="../datatypes/">
      Datatypes <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../consistency_level/">
      Consistency Level <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../client_side_timestamps/">
      Client-side timestamps <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../simple_statements/">
      Simple Statements <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../prepared_statements/">
      Prepared Statements <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../batch_statements/">
      Batch statements <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../logging/">
      Logging <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../result_paging/">
      Result paging <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../schema_metadata/">
      Schema Metadata <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../sessions/">
      Sessions <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../ssl_encryption/">
      SSL encryption <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../user_defined_types/">
      User defined types <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../tuples/">
      Tuples <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../collections/">
      Collections <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../materialized_view_metadata/">
      Materialized View Metadata <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li class="active">
    <a href="./" class="current">
      Retry Policies <small>feature</small>
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
</ul>

  </li>
  
  
  <li>
    <a href="../secondary_index_metadata/">
      Secondary Index Metadata <small>feature</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../function_and_aggregate_metadata/">
      User-defined Function (UDF) and Aggregate Metadata (UDA) <small>feature</small>
      
    </a>
    
  </li>
  
</ul>

  </li>
  
  
  <li>
    <a href="../../building/">
      Installing Cassandra PHP Extension <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../api/">
      API docs <small>index</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          <div class="crumbs-wrapper">
            <nav id="crumbs" data-spy="affix" data-offset-top="130">
              <ol class="breadcrumb">
                
                
                
                <li><a href="../../">Home</a></li>
                
                
                
                
                
                <li><a href="../">Features</a></li>
                
                
                
                
                
                <li class="active">Retry Policies</li>
                
                
                
              </ol>
            </nav>
          </div>
          
<div class="feature-section">
<h1 id="retry-policies" class="target">Retry Policies<a class="anchor" href="#retry-policies" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>
<p>PHP Driver supports consistency levels when executing statements.</p>
<h2 id="background" class="target">Background<a class="anchor" href="#background" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>a running Cassandra cluster with &#8220;1&#8221; nodes</dd>
<dt>Given </dt>
<dd>the following logger settings:<pre class="highlight"><code><span class="py">cassandra.log</span><span class="p">=</span><span class="s">feature-retry-policy.log</span>
<span class="py">cassandra.log_level</span><span class="p">=</span><span class="s">INFO</span>
</code></pre>
</dd>
<dt>And </dt>
<dd>the following schema:<pre class="highlight"><code><span class="k">CREATE</span> <span class="k">KEYSPACE</span> <span class="n">simplex</span> <span class="k">WITH</span> <span class="n">replication</span> <span class="o">=</span> <span class="p">{</span>
  <span class="s1">'class'</span><span class="p">:</span> <span class="s1">'SimpleStrategy'</span><span class="p">,</span>
  <span class="s1">'replication_factor'</span><span class="p">:</span> <span class="mi">3</span>
<span class="p">};</span>
<span class="k">USE</span> <span class="n">simplex</span><span class="p">;</span>
<span class="k">CREATE</span> <span class="k">TABLE</span> <span class="n">playlists</span> <span class="p">(</span>
  <span class="n">id</span> <span class="k">uuid</span><span class="p">,</span>
  <span class="n">title</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">album</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">artist</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">song_id</span> <span class="k">uuid</span><span class="p">,</span>
  <span class="k">PRIMARY</span> <span class="k">KEY</span> <span class="p">(</span><span class="n">id</span><span class="p">,</span> <span class="n">title</span><span class="p">,</span> <span class="n">album</span><span class="p">,</span> <span class="n">artist</span><span class="p">)</span>
<span class="p">);</span>
</code></pre>
</dd>
</dl>
<h2 id="retry-policy-can-be-set-when-constructing-the-cluster" class="target">Retry policy can be set when constructing the cluster<a class="anchor" href="#retry-policy-can-be-set-when-constructing-the-cluster" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>tracing is enabled</dd>
<dt>And </dt>
<dd>the following example:<pre class="highlight"><code><span class="cp">&lt;?php</span>
<span class="nv">$retry_policy</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\RetryPolicy\DowngradingConsistency</span><span class="p">();</span>
<span class="nv">$cluster</span>     <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
                 <span class="o">-&gt;</span><span class="na">withContactPoints</span><span class="p">(</span><span class="s1">'127.0.0.1'</span><span class="p">)</span>
                 <span class="o">-&gt;</span><span class="na">withRetryPolicy</span><span class="p">(</span><span class="k">new</span> <span class="nx">Cassandra\RetryPolicy\Logging</span><span class="p">(</span><span class="nv">$retry_policy</span><span class="p">))</span>
                 <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span>     <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">);</span>
<span class="nv">$statement</span>   <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">prepare</span><span class="p">(</span><span class="s2">"INSERT INTO playlists (id, song_id, artist, title, album)
                                 VALUES (62c36092-82a1-3a00-93d1-46196ee77204, ?, ?, ?, ?)"</span><span class="p">);</span>
<span class="nv">$arguments</span>   <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="k">new</span> <span class="nx">Cassandra\Uuid</span><span class="p">(</span><span class="s1">'756716f7-2e54-4715-9f00-91dcbea6cf50'</span><span class="p">),</span>
                    <span class="s1">'Joséphine Baker'</span><span class="p">,</span>
                    <span class="s1">'La Petite Tonkinoise'</span><span class="p">,</span>
                    <span class="s1">'Bye Bye Blackbird'</span>
                    <span class="p">);</span>
<span class="nv">$options</span>     <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\ExecutionOptions</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
                    <span class="s1">'consistency'</span> <span class="o">=&gt;</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">CONSISTENCY_QUORUM</span><span class="p">,</span>
                    <span class="s1">'arguments'</span> <span class="o">=&gt;</span> <span class="nv">$arguments</span>
                    <span class="p">));</span>
<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">,</span> <span class="nv">$options</span><span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"SELECT * FROM simplex.playlists"</span><span class="p">);</span>
<span class="nv">$result</span>    <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">);</span>

<span class="k">foreach</span> <span class="p">(</span><span class="nv">$result</span> <span class="k">as</span> <span class="nv">$row</span><span class="p">)</span> <span class="p">{</span>
  <span class="k">echo</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'artist'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">": "</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'title'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">" / "</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'album'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="p">}</span>
</code></pre>
</dd>
<dt>When </dt>
<dd>it is executed</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>Joséphine Baker: La Petite Tonkinoise / Bye Bye Blackbird
</code></pre>
</dd>
<dt>Then </dt>
<dd>a log file &#8220;feature-retry-policy.log&#8221; should exist</dd>
<dt>And </dt>
<dd>the log file &#8220;feature-retry-policy.log&#8221; should contain &#8220;Retrying on unavailable error at consistency ONE&#8221;</dd>
</dl>
<h2 id="retry-policy-can-be-set-when-executing-a-statement" class="target">Retry policy can be set when executing a statement<a class="anchor" href="#retry-policy-can-be-set-when-executing-a-statement" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>tracing is enabled</dd>
<dt>And </dt>
<dd>the following example:<pre class="highlight"><code><span class="cp">&lt;?php</span>
<span class="nv">$retry_policy</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\RetryPolicy\DowngradingConsistency</span><span class="p">();</span>
<span class="nv">$cluster</span>     <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
                 <span class="o">-&gt;</span><span class="na">withContactPoints</span><span class="p">(</span><span class="s1">'127.0.0.1'</span><span class="p">)</span>
                 <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span>     <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">);</span>
<span class="nv">$statement</span>   <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">prepare</span><span class="p">(</span><span class="s2">"INSERT INTO playlists (id, song_id, artist, title, album)
                                  VALUES (62c36092-82a1-3a00-93d1-46196ee77204, ?, ?, ?, ?)"</span><span class="p">);</span>
<span class="nv">$arguments</span>   <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="k">new</span> <span class="nx">Cassandra\Uuid</span><span class="p">(</span><span class="s1">'756716f7-2e54-4715-9f00-91dcbea6cf50'</span><span class="p">),</span>
                    <span class="s1">'Joséphine Baker'</span><span class="p">,</span>
                    <span class="s1">'La Petite Tonkinoise'</span><span class="p">,</span>
                    <span class="s1">'Bye Bye Blackbird'</span>
                    <span class="p">);</span>
<span class="nv">$options</span>     <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\ExecutionOptions</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
                    <span class="s1">'consistency'</span> <span class="o">=&gt;</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">CONSISTENCY_QUORUM</span><span class="p">,</span>
                    <span class="s1">'arguments'</span> <span class="o">=&gt;</span> <span class="nv">$arguments</span><span class="p">,</span>
                    <span class="s1">'retry_policy'</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">Cassandra\RetryPolicy\Logging</span><span class="p">(</span><span class="nv">$retry_policy</span><span class="p">)</span>
                    <span class="p">));</span>
<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">,</span> <span class="nv">$options</span><span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"SELECT * FROM simplex.playlists"</span><span class="p">);</span>
<span class="nv">$result</span>    <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">);</span>

<span class="k">foreach</span> <span class="p">(</span><span class="nv">$result</span> <span class="k">as</span> <span class="nv">$row</span><span class="p">)</span> <span class="p">{</span>
  <span class="k">echo</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'artist'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">": "</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'title'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">" / "</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'album'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="p">}</span>
</code></pre>
</dd>
<dt>When </dt>
<dd>it is executed</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>Joséphine Baker: La Petite Tonkinoise / Bye Bye Blackbird
</code></pre>
</dd>
<dt>Then </dt>
<dd>a log file &#8220;feature-retry-policy.log&#8221; should exist</dd>
<dt>And </dt>
<dd>the log file &#8220;feature-retry-policy.log&#8221; should contain &#8220;Retrying on unavailable error at consistency ONE&#8221;</dd>
</dl>
<h2 id="retry-policy-can-be-set-when-executing-a-batch" class="target">Retry policy can be set when executing a batch<a class="anchor" href="#retry-policy-can-be-set-when-executing-a-batch" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>tracing is enabled</dd>
<dt>And </dt>
<dd>the following example:<pre class="highlight"><code><span class="cp">&lt;?php</span>
<span class="nv">$retry_policy</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\RetryPolicy\DowngradingConsistency</span><span class="p">();</span>
<span class="nv">$cluster</span>   <span class="o">=</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">cluster</span><span class="p">()</span>
               <span class="o">-&gt;</span><span class="na">withContactPoints</span><span class="p">(</span><span class="s1">'127.0.0.1'</span><span class="p">)</span>
               <span class="o">-&gt;</span><span class="na">build</span><span class="p">();</span>
<span class="nv">$session</span>   <span class="o">=</span> <span class="nv">$cluster</span><span class="o">-&gt;</span><span class="na">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">);</span>
<span class="nv">$prepared</span>  <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">prepare</span><span class="p">(</span>
               <span class="s2">"INSERT INTO playlists (id, song_id, artist, title, album) "</span> <span class="o">.</span>
               <span class="s2">"VALUES (62c36092-82a1-3a00-93d1-46196ee77204, ?, ?, ?, ?)"</span>
             <span class="p">);</span>
<span class="nv">$simple</span>    <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span>
               <span class="s2">"INSERT INTO playlists (id, song_id, artist, title, album) "</span> <span class="o">.</span>
               <span class="s2">"VALUES (62c36092-82a1-3a00-93d1-46196ee77204, ?, ?, ?, ?)"</span>
             <span class="p">);</span>
<span class="nv">$batch</span>     <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\BatchStatement</span><span class="p">(</span><span class="nx">Cassandra</span><span class="o">::</span><span class="na">BATCH_UNLOGGED</span><span class="p">);</span>

<span class="nv">$options</span>    <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\ExecutionOptions</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
                   <span class="s1">'consistency'</span> <span class="o">=&gt;</span> <span class="nx">Cassandra</span><span class="o">::</span><span class="na">CONSISTENCY_QUORUM</span><span class="p">,</span>
                   <span class="s1">'retry_policy'</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">Cassandra\RetryPolicy\Logging</span><span class="p">(</span><span class="nv">$retry_policy</span><span class="p">)</span>
              <span class="p">));</span>

<span class="nv">$batch</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="nv">$prepared</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">'song_id'</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">Cassandra\Uuid</span><span class="p">(</span><span class="s1">'756716f7-2e54-4715-9f00-91dcbea6cf50'</span><span class="p">),</span>
    <span class="s1">'title'</span>   <span class="o">=&gt;</span> <span class="s1">'La Petite Tonkinoise'</span><span class="p">,</span>
    <span class="s1">'album'</span>   <span class="o">=&gt;</span> <span class="s1">'Bye Bye Blackbird'</span><span class="p">,</span>
    <span class="s1">'artist'</span>  <span class="o">=&gt;</span> <span class="s1">'Joséphine Baker'</span>
<span class="p">));</span>

<span class="nv">$batch</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="nv">$simple</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
    <span class="k">new</span> <span class="nx">Cassandra\Uuid</span><span class="p">(</span><span class="s1">'f6071e72-48ec-4fcb-bf3e-379c8a696488'</span><span class="p">),</span>
    <span class="s1">'Willi Ostermann'</span><span class="p">,</span> <span class="s1">'Die Mösch'</span><span class="p">,</span> <span class="s1">'In Gold'</span><span class="p">,</span>
<span class="p">));</span>

<span class="nv">$batch</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="nv">$prepared</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
    <span class="k">new</span> <span class="nx">Cassandra\Uuid</span><span class="p">(</span><span class="s1">'fbdf82ed-0063-4796-9c7c-a3d4f47b4b25'</span><span class="p">),</span>
    <span class="s1">'Mick Jager'</span><span class="p">,</span> <span class="s1">'Memo From Turner'</span><span class="p">,</span> <span class="s1">'Performance'</span>
<span class="p">));</span>

<span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$batch</span><span class="p">,</span> <span class="nv">$options</span><span class="p">);</span>

<span class="nv">$statement</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Cassandra\SimpleStatement</span><span class="p">(</span><span class="s2">"SELECT * FROM simplex.playlists"</span><span class="p">);</span>
<span class="nv">$result</span>    <span class="o">=</span> <span class="nv">$session</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="nv">$statement</span><span class="p">);</span>

<span class="k">foreach</span> <span class="p">(</span><span class="nv">$result</span> <span class="k">as</span> <span class="nv">$row</span><span class="p">)</span> <span class="p">{</span>
  <span class="k">echo</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'artist'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">": "</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'title'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">" / "</span> <span class="o">.</span> <span class="nv">$row</span><span class="p">[</span><span class="s1">'album'</span><span class="p">]</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
<span class="p">}</span>
</code></pre>
</dd>
<dt>When </dt>
<dd>it is executed</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>Joséphine Baker: La Petite Tonkinoise / Bye Bye Blackbird
</code></pre>
</dd>
<dt>And </dt>
<dd>its output should contain:<pre><code>Willi Ostermann: Die Mösch / In Gold
</code></pre>
</dd>
<dt>And </dt>
<dd>its output should contain:<pre><code>Mick Jager: Memo From Turner / Performance
</code></pre>
</dd>
<dt>Then </dt>
<dd>a log file &#8220;feature-retry-policy.log&#8221; should exist</dd>
<dt>And </dt>
<dd>the log file &#8220;feature-retry-policy.log&#8221; should contain &#8220;Retrying on unavailable error at consistency ONE&#8221;</dd>
</dl>
</div>

        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="http://downloads.datastax.com/php-driver">Binaries</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/php-driver">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://docs.datastax.com/en/developer/php-driver">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/PHP">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/php-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://academy.datastax.com/slack">Slack</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/php-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/angular.js"></script>
    <script src="../../../js/mousetrap.js"></script>
    <script src="../../../js/hotkeys.js"></script>
    <script src="../../../js/ZeroClipboard.js"></script>
    <script src="../../../js/lunr.js"></script>
    <script src="../../../js/app.js"></script>
  </body>
</html>
